body {
  background-color: #4C3A51;
  margin: 0;
  text-align: center;
}

.topnav {
  background-color: #774360;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #E7AB79;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Indie Flower', cursive;
}

.topnav a:hover {
  background-color: #4C3A51;
  color: black;
  font-family: 'Indie Flower', cursive;
}

.topnav .active {
  background-color: #4C3A51;
  color: white;
  font-family: 'Indie Flower', cursive;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  color: #B25068;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 470px;
  vertical-align: middle;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.name-container {
  font-family: "Gill Sans", sans-serif;
  position: absolute;
  z-index: 9;
  margin-left: 30%;
  margin-top: 15%;
  margin-bottom: 0;
  text-align: center;
}

.para1 {
  color: #4C3A51;
  font-family: 'Montserrat', sans-serif;
}

.para2 {
  margin-bottom: 0;
  color: #774360;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  height: 170px;
  width: 170px;
}

.attribute {
  font-size: 10px;
  font-style: italic;
  color: #774360;
  background-color: #4C3A51;
}
.attribute2{
  font-size: 10px;
  font-style: italic;
  color: #774360;
  background-color:#4C3A51;
}
.attribute3{
  font-size: 10px;
  font-style: italic;
  color: #774360;
  background-color:#4C3A51;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 55px;
  color: #E7AB79;
}

.para-intro1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #B25068;
  margin-top: 0;
}

.para-intro2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #B25068;
}

.para-intro3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #B25068;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 7%;
  color: #E7AB79;
}
.skills {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #B25068;
}
h3 {
  color: #E7AB79;
}
.skillpic{
  height: 120px;
  width: 120px;
  float: left;
  margin-left: 37%;
  margin-top: 2%;
}
.skillpic2{
  height: 135px;
  width: 135px;
  float: right;
  margin-right:10%;
  margin-top: 3%;
  margin-left: 2%;
}
.contact-me{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #B25068;
}
button{
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #E7AB79;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #B25068;
  box-shadow: 0 15px 20px rgba(176, 99, 118, 0.4);
  color: #E7AB79;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
.bottom-container{
  color: #B25068;
  background-color: #4C3A51;
}
.footer-link{
  color: #B25068;
  background-color: #4C3A51;
}
.skill-row {
  text-align: left;
  margin-right: 20%;
}
.Frontendskill{
  margin-left: 50%;
}
.Videoeditingskill{
  margin-left: 37%;
}
.frontend1{
  margin-right: 25%;
}
